<!DOCTYPE html>
<html>

<head>
    <title>Demo</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="Demo project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <style type="text/css"></style>
</head>

<body>
    <div class="post">
        <div class="post-heading">
            <div class="post-title">
                {{p.subject}}
            </div>
            <div class="post-date">
                {{p.created.strftime("%b %d, %Y")}}
            </div>
        </div>
        <div class="post-content">
            {{p._render_text | safe}}
        </div>
    </div>
</body>
<script type="text/javascript"></script>

</html>
