{% extends "index.html" %} {% block content %}
<div class="row">
    <div class="col-md-12">
        <h2 class="text-center">Edit post</h2>
    </div>
    <div class="col-md-8 col-md-offset-2">
        <form method="post" role="form">
            <input type="hidden" name="post_id" value="{{post_id}}">
            <div class="form-group">
                <label for="subject">Subject:</label>
                <input type="text" class="form-control" name="subject" value="{{subject}}">
            </div>
            <div class="form-group">
                <label for="content">Post Content:</label>
                <textarea class="form-control" name="content" value="{{content}}" rows="10">{{content}}</textarea>
            </div>
            {% if error %}
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> {{error}}
            </div>
            {% endif %}
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
</div>
{% endblock %}
