{% extends "index.html" %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        {% if deleted_post_id %}
	        <div class="alert alert-success" role="alert">
	            <span class="glyphicon glyphicon-success" aria-hidden="true"></span> Post deleted successully
	        </div>
        {% endif %}
    </div>
</div>
{% if posts %}
	{% for p in posts %}
		{% if p.key().id()|string != deleted_post_id|string %}
			<div class="row">
				<div class="col-md-12">
					{{ p.render() | safe }}
				</div>
			</div>
		{% endif %}
	{% endfor %}
{% else %}
	<div class="row">
		<div class="col-md-12">
			<div class="alert alert-info" role="alert">
			<span class="glyphicon glyphicon-exclamation-sign" area-hidden="true"></span> Please add the post
			</div>
		</div>
	</div>
{% endif %}
{% endblock %}
