{% extends "index.html" %}
{% block content %}
<div class="my-form">
    <form method="post">
        <h3 class="text-center">L o g i n</h3><br>
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" class="form-control" name="username" value="{{username}}" placeholder="Enter username">
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" name="password" placeholder="Enter Password">
        </div><br>
        <div class="error">{{error}}</div>
        <button type="submit" class="btn btn-primary center-block">Submit</button>
    </form>
</div>
{% endblock %}
