{% extends "index.html" %} {% block content %}
<div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
        <h2 class="text-center">Login</h2>
    </div>
    <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-8 col-xs-offset-2">
        <form method="post" role="form">
            <br>
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" class="form-control" name="username" value="{{username}}" placeholder="Enter username">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" name="password" placeholder="Enter Password">
            </div>
            <br> {% if error %}
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> {{error}}
            </div>
            {% endif %}
            {% if error2 %}
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> {{error2}}
            </div>
            {% endif %}
            {% if error3 %}
            <div class="alert alert-success" role="alert">
                <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span> {{error3}}
            </div>
            {% endif %}
            <button type="submit" class="btn btn-success center-block">Submit</button>
        </form>
    </div>
</div>
{% endblock %}
