<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Music Dump</title>
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.2/material.green-pink.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="//apis.google.com/js/platform.js?onload=start"></script>
</head>

<body>
    <div class="container">
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
            <header class="mdl-layout__header">
                <div class="mdl-layout__header-row">
                    <div class="mdl-layout-spacer"></div>
			        {%if 'username' not in session %}
			        <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" href="{{url_for('login')}}">
					  Login
					</a>

					{% else %}
					<a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" href="{{url_for('logout')}}">
					  Logout
					</a>

					{% endif %}


                </div>
            </header>
            <main class="mdl-layout__content">
                <div class="page-content">

                  <div class="mdl-grid typography--text-center">
                      <header class="mdl-cell mdl-cell--12-col">
                          <h1>Edit genre</h1>
                      </header>
                  </div>
                  <div class="demo-container mdl-grid">
                      <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
                      <div class="demo-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">
                          <h3>Edit genre</h3>
                          <form action="#" method="post" autocomplete="on">
                              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                  <input class="mdl-textfield__input" name="name" value="{{genre.name}}" type="text" id="name">
                                  <label class="mdl-textfield__label" for="name">Genre Name...</label>
                              </div>
                              <div>
                                  <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                                      Edit Genre
                                  </button>
                              </div>
                          </form>
                          <a href="{{url_for('showSongs', genre_id = genre.id)}}">Cancel</a>
                      </div>
                  </div>

                </div>
            </main>
        </div>
    </div>
</body>

</html>
