<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Music Dump</title>
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.2/material.green-pink.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="//apis.google.com/js/platform.js?onload=start"></script>
</head>

<body>
    <div class="container">
    	{%if 'username' in session %}
	        <a id="fab" href="{{url_for('newGenre')}}" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
			    <i class="material-icons">add</i>
			  </a>
		{% endif %}
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
            <header class="mdl-layout__header">
                <div class="mdl-layout__header-row">
                    <div class="mdl-layout-spacer"></div>
			        {%if 'username' not in session %}
			        <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" href="{{url_for('login')}}">
					  Login
					</a>

					{% else %}
					<a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" href="{{url_for('logout')}}">
					  Logout
					</a>

					{% endif %}


                </div>
            </header>
            <div class="mdl-layout__drawer">
                <span class="mdl-layout-title">music dump</span>
                <nav class="mdl-navigation">
                    {% for genre in genres %}
                    <a class="mdl-navigation__link" href="{{url_for('showSongs', genre_id = genre.id)}}">{{genre.name}}</a> {% endfor %}
                </nav>
            </div>
            <main class="mdl-layout__content">
                <div class="page-content">
                    {% block content %} {% endblock %}
                </div>
            </main>
        </div>
    </div>
</body>

</html>
