<!-- Header -->
<div class="navbar-fixed">
    <nav>
      	<div class="nav-wrapper">
	        <a href="{{url_for('showGenres')}}" class="brand-logo">&nbsp;&nbsp;My Music Catalog</a>
	        <ul class="right hide-on-med-and-down">
	          	{% if 'username' not in session %}
	          		<li><a href="{{url_for('showLogin')}}">Login&nbsp;&nbsp;</a></li>
	          	{% else %}
	          		<li><a href="{{url_for('disconnect')}}">Logout&nbsp;&nbsp;</a></li>
	          	{% endif %}
	        </ul>
      	</div>
    </nav>
</div>
<!-- End of Header -->